<div class="row">
  <div class="col-md-12 text-center">
      <h1 class="page-header">關卡
        <%= "#{@no} : #{@level.name}" %>
        <br>結果
      </h1>
  </div>

  <div class="col-md-12 text-center">
    <h2><%= get_result_msg(@is_pass) %></h2>
  </div>
</div>
