// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.level-btn {
  width: 165px;
  height: 160px;
  padding-top: 25px;
  margin-bottom: 15px;
  border-radius: 99em;
}

.degree-lb {
  font-size: 40%;
  vertical-align: middle;
}

.level-img {
  margin-bottom: 15px;
}

.option-img {
  padding-top: 10px;
}

.submit-btn {
  margin-top: 25px;
  width: 100%;
  max-width: 500px;
}

.result-btn {
  margin: 25px 0 25px;
  width: 100%;
  max-width: 200px;
}

h2 {
  margin: 10px 0 25px;
}

h4 {
  margin: 0 0 5px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}
