// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.level-btn {
  width: 165px;
  height: 160px;
  padding-top: 25px;
  margin-bottom: 15px;
  border-radius: 99em;
}

.degree-lb {
  font-size: 40%;
  vertical-align: middle;
}
