<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>翻倒 Find out</title>

    <link href="/thumbnail-gallery/css/bootstrap.css" rel="stylesheet">
    <link href="/thumbnail-gallery/css/thumbnail-gallery.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>
    <script src="/thumbnail-gallery/js/bootstrap.js"></script>

    <%= csrf_meta_tags %>
</head>

<body>

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/" style="float: none; font-size: 16pt; color: #fff">
                  <img src="/upload/logo.png" alt="" style="width: 55px">
                  翻倒 Find out
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav" style="font-size: 12pt">
                    <li><a href="/">首頁</a>
                    </li>
                    <li><a href="/levels/">關卡管理</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

      <%= yield %>

      <hr>

      <footer>
          <div class="row">
              <div class="col-lg-12 text-center">
                  <p>Copyright &copy; Findout Team 2016</p>
              </div>
          </div>
      </footer>
    </div>

</body>

</html>
